In [2]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt 
import datetime
import os

In [5]:
df = pd.read_csv('da2.csv')
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import wilcoxon

# Assuming 'df' is your DataFrame
# Replace 'Continent' with the actual column name representing the continent
# Replace 'No Homeless' with the actual column name for the number of homeless people
asia_homeless = df[df['Continent'] == 'Asia']['No Homeless'].dropna()
europe_homeless = df[df['Continent'] == 'Europe']['No Homeless'].dropna()

# Ensure both samples have the same length
min_length = min(len(asia_homeless), len(europe_homeless))
asia_homeless = asia_homeless[:min_length]
europe_homeless = europe_homeless[:min_length]

# Wilcoxon Signed-Rank Test
statistic, p_value = wilcoxon(asia_homeless, europe_homeless, alternative='two-sided')

# Output the results
print(f"Wilcoxon Signed-Rank Test Statistic: {statistic}")
print(f"P-value: {p_value}")

# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in the number of homeless people between Asia and Europe.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in the number of homeless people between Asia and Europe.")

# Bar plot without outliers
plt.figure(figsize=(10, 6))
sns.barplot(x='Continent', y='No Homeless', data=df[df['Continent'].isin(['Asia', 'Europe'])], ci=None, estimator=sum)
plt.title('Comparison of Number of Homeless People between Asia and Europe')
plt.show()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe8 in position 10388: invalid continuation byte

In [1]:
nd.head()

NameError: name 'nd' is not defined

In [4]:
def basic_EDA(df):
    size = df.shape
    sum_duplicates = df.duplicated().sum()
    sum_null = df.isnull().sum().sum()
    is_NaN = df. isnull()
    row_has_NaN = is_NaN. any(axis=1)
    rows_with_NaN = df[row_has_NaN]
    count_NaN_rows = rows_with_NaN.shape
    return print("Number of Samples: %d,\nNumber of Features: %d,\nDuplicated Entries: %d,\nNull Entries: %d,\nNumber of Rows with Null Entries: %d %.1f%%" %(size[0],size[1], sum_duplicates, sum_null,count_NaN_rows[0],(count_NaN_rows[0] / df.shape[0])*100))

def summary_table(df):

    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    summary['Uniques'] = df.nunique().values
    return summary

def heatmap(df, index,columns,values,vmax,Title):
    DisasterDuration_wide = df.pivot(index=index, columns=columns, values=values)
    #DisasterDuration_wide = DisasterDuration_wide.sort_values(by = sort_by, ascending = False)#ignore_index = True)

    plt.figure(figsize=(12,8))

    ax = sns.heatmap(DisasterDuration_wide, annot=True, fmt='.0f', yticklabels='auto', cmap=sns.color_palette("YlGnBu", as_cmap=True), center=.2,vmin = 0, vmax = vmax,linewidths=.5)
    ax.xaxis.tick_top() # x axis on top
    ax.xaxis.set_label_position('top')
    ax.set_title(Title,fontsize = 16,weight = 'bold',pad=20)
    plt.show()

def histplot(df, x, x_axis_title,y_axys_title, plot_title):
    plt.figure(figsize=(20,8))
    sns.set(style="ticks", font_scale = 1)
    ax = sns.countplot(data = df,x=x)
    plt.xticks(rotation=70,fontsize = 8)
    ax.set_xlabel(x_axis_title)
    ax.set_ylabel(y_axys_title)
    plt.title(plot_title, fontsize = 16,weight = 'bold')    
    
def bar_plot(x,y,xlabel,ylabel,title, label):
    plt.figure(figsize=(20,5))
    sns.set(style="ticks", font_scale = 1)
    ax = sns.barplot(x=x, y = y, palette="Blues_d")
    sns.despine(top=True, right=True, left=True, bottom=False)
    plt.xticks(rotation=90,fontsize = 12)
    ax.set_xlabel(xlabel)
    ax.set_ylabel(ylabel)
    plt.title(title)

    if label == 'percent':
        for p in ax.patches:
                     ax.annotate("%.1f%%" % (100*float(p.get_height()/15827)), (p.get_x() + p.get_width() / 2., abs(p.get_height())),
                         ha='center', va='bottom', color='black', xytext=(0, 10),rotation = 'vertical',
                         textcoords='offset points')
    if label == 'number':
        for p in ax.patches:
             ax.annotate("%d" % p.get_height(), (p.get_x() + p.get_width() / 2., abs(p.get_height())),
                 ha='center', va='bottom', color='black', xytext=(0, 10),rotation = 'horizontal',
                 textcoords='offset points')
    
def Null_Analysis(df,title):
    null_columns=df.columns[df.isnull().any()]
    null_columns_plot = df[null_columns].isnull().sum().sort_values(ascending = False)
    bar_plot(null_columns_plot.index, null_columns_plot,"Features", "Number of Null Values", title, 'percent')

In [5]:
basic_EDA(nd)

Number of Samples: 16126,
Number of Features: 33,
Duplicated Entries: 0,
Null Entries: 197624,
Number of Rows with Null Entries: 16126 100.0%

In [32]:
summary_table(nd)

                          Name   dtypes  Missing  Uniques
0                         Year    int64        0      122
1            Disaster Subgroup   object        0        6
2                Disaster Type   object        0       15
3                   Event Name   object    12265     1571
4                      Country   object        0      228
5                          ISO   object        0      228
6                    Continent   object        0        5
7                     Location   object     1792    12786
8                       Origin   object    12332      664
9               Associated Dis   object    12778       30
10                 Declaration   object    12870        2
11               Dis Mag Value  float64    11180     1864
12               Dis Mag Scale   object     1190        5
13                    Latitude   object    13397     2373
14                   Longitude   object    13394     2440
15                  Local Time   object    15023      746
16                 River Basin   object    14839     1215
17                  Start Year    int64        0      122
18                 Start Month  float64      387       12
19                   Start Day  float64     3628       31
20                  Start Date   object        2     8884
21                    End Year    int64        0      122
22                    End Date   object        2     8825
23                Total Deaths  float64     4713      844
24                  No Injured  float64    12231      759
25                 No Affected  float64     6906     3566
26                 No Homeless  float64    13696      914
27              Total Affected  float64     4509     5073
28  Insured Damages ('000 US$)  float64    15030      362
29    Total Damages ('000 US$)  float64    10881     1565
30                         CPI  float64      315      112

In [4]:
import pandas as pd
from scipy.stats import shapiro
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

try:
    # Try reading the CSV file
    df = pd.read_csv('file.csv .xlsx', encoding='latin-1', delimiter=',')
except pd.errors.ParserError as e:
    # If there's an error, print the error message
    print(f"Error: {e}")

# Display the DataFrame
print(df)


# Plot Q-Q plot
plt.figure(figsize=(8, 6))
stats.probplot(data, dist="norm", plot=plt)
plt.title("Q-Q Plot")
plt.show()

# Check for normal distribution using the Shapiro-Wilk test
stat, p_value = shapiro(data)

# Set the significance level (usually 0.05)
alpha = 0.05

# Print the results
print(f'Shapiro-Wilk Test Statistic: {stat}')
print(f'P-value: {p_value}')

# Compare p-value to the significance level
if p_value > alpha:
    print("The data appears to be normally distributed (do not reject the null hypothesis).")
else:
    print("The data does not appear to be normally distributed (reject the null hypothesis).")

# Additional visual check with a histogram and KDE plot
plt.figure(figsize=(12, 6))
sns.histplot(data, kde=True, color='blue', bins=20)
plt.title("Histogram and KDE Plot")
plt.show()

Error: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

       Year Disaster Subgroup      Disaster Type   Event Name  \
0      1900    Climatological            Drought          NaN
1      1900    Climatological            Drought          NaN
2      1902       Geophysical         Earthquake          NaN
3      1902       Geophysical  Volcanic activity  Santa Maria
4      1902       Geophysical  Volcanic activity  Santa Maria
...     ...               ...                ...          ...
16121  2021      Hydrological              Flood          NaN
16122  2021      Hydrological              Flood          NaN
16123  2021        Biological           Epidemic   Meningitis
16124  2021      Hydrological              Flood          NaN
16125  2021      Hydrological              Flood          NaN

                                      Country  ISO Continent  \
0                                  Cabo Verde  CPV    Africa
1                                       India  IND      Asia
2                                   Guatemala  GTM  Americas
3                                   Guatemala  GTM  Americas
4                                   Guatemala  GTM  Americas
...                                       ...  ...       ...
16121                                   Yemen  YEM      Asia
16122                            South Africa  ZAF    Africa
16123  Congo (the Democratic Republic of the)  COD    Africa
16124                                  Serbia  SRB    Europe
16125                             South Sudan  SSD    Africa

                                                Location       Origin  \
0                                            Countrywide          NaN
1                                                 Bengal          NaN
2                              Quezaltenango, San Marcos          NaN
3                                                    NaN          NaN
4                                                    NaN          NaN
...                                                  ...          ...
16121  Dhamar, Amran, Al Mahwit, Marib, Ibb, Sanaâa...  Heavy rains
16122  Mpumalanga Province, Free State Province and t...  Heavy rains
16123                                    Tshopo province          NaN
16124  Zitoradja (Toplicki), Doljevac (Nisavski) , Di...  Heavy rains
16125  Mayendit County (Unity); Ayod, Fangak Counties...  Heavy rains

           Associated Dis  ...  Start Date    End Date Total Deaths  \
0                  Famine  ...         NaN         NaN      11000.0
1                     NaN  ...         NaN         NaN    1250000.0
2      Tsunami/Tidal wave  ...  18-04-1902  18-04-1902       2000.0
3                     NaN  ...  08-04-1902  08-04-1902       1000.0
4                     NaN  ...  24-10-1902  24-10-1902       6000.0
...                   ...  ...         ...         ...          ...
16121                 NaN  ...  16-07-2021  07-08-2021         11.0
16122                 NaN  ...  01-02-2021  15-02-2021         31.0
16123                 NaN  ...  07-09-2021  13-09-2021        131.0
16124                 NaN  ...  11-01-2021  12-01-2021          NaN
16125                 NaN  ...  30-04-2021  07-10-2021          7.0

      No Injured No Affected No Homeless Total Affected  \
0            NaN         NaN         NaN            NaN
1            NaN         NaN         NaN            NaN
2            NaN         NaN         NaN            NaN
3            NaN         NaN         NaN            NaN
4            NaN         NaN         NaN            NaN
...          ...         ...         ...            ...
16121        NaN     67980.0         NaN        67980.0
16122        NaN       400.0         NaN          400.0
16123      301.0         NaN         NaN          301.0
16124        NaN        22.0         NaN           22.0
16125        NaN    500000.0         NaN       500000.0

      Insured Damages ('000 US$) Total Damages ('000 US$)       CPI
0                            NaN                      NaN  3.221647
1                            NaN                      NaN  3.221647
2                            NaN                  25000.0  3.350513
3                            NaN                      NaN  3.350513
4                            NaN                      NaN  3.350513
...                          ...                      ...       ...
16121                        NaN                      NaN       NaN
16122                        NaN                  75000.0       NaN
16123                        NaN                      NaN       NaN
16124                        NaN                      NaN       NaN
16125                        NaN                      NaN       NaN

[16126 rows x 27 columns]

NameError: name 'stats' is not defined

In [30]:

df.head()

,Year,Disaster Subgroup,Disaster Type,Event Name,Country,ISO,Continent,Location,Origin,Associated Dis,...,End Year,End Date,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI
0,1900,Climatological,Drought,NaN,Cabo Verde,CPV,Africa,Countrywide,NaN,Famine,...,1900,NaN,11000.0,NaN,NaN,NaN,NaN,NaN,NaN,3.221647
1,1900,Climatological,Drought,NaN,India,IND,Asia,Bengal,NaN,NaN,...,1900,NaN,1250000.0,NaN,NaN,NaN,NaN,NaN,NaN,3.221647
2,1902,Geophysical,Earthquake,NaN,Guatemala,GTM,Americas,"Quezaltenango, San Marcos",NaN,Tsunami/Tidal wave,...,1902,18-04-1902,2000.0,NaN,NaN,NaN,NaN,NaN,25000.0,3.350513
3,1902,Geophysical,Volcanic activity,Santa Maria,Guatemala,GTM,Americas,NaN,NaN,NaN,...,1902,08-04-1902,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,3.350513
4,1902,Geophysical,Volcanic activity,Santa Maria,Guatemala,GTM,Americas,NaN,NaN,NaN,...,1902,24-10-1902,6000.0,NaN,NaN,NaN,NaN,NaN,NaN,3.350513

In [31]:
df.isnull().sum()

Year                              0
Disaster Subgroup                 0
Disaster Type                     0
Event Name                    12265
Country                           0
ISO                               0
Continent                         0
Location                       1792
Origin                        12332
Associated Dis                12778
Declaration                   12870
Dis Mag Value                 11180
Dis Mag Scale                  1190
Latitude                      13397
Longitude                     13394
Local Time                    15023
River Basin                   14839
Start Year                        0
Start Month                     387
Start Date                        2
End Year                          0
End Date                          2
Total Deaths                   4713
No Injured                    12231
No Affected                    6906
No Homeless                   13696
Total Affected                 4509
Insured Damages ('000 US$)    15030
Total Damages ('000 US$)      10881
CPI                             315
dtype: int64